$them-color: #3a91fd !default;
$bg-color: #F2F6F9 !default;
$title-color: #333 !default;
$text-color: #666 !default;
$text-light-color: #999 !default;
$panel-bg:#fff !default;
$bd-color:#eee !default;


$info-color:#909399 !default;
$success-color:#67c23a !default;
$warning-color:#e6a23c !default;
$error-color:#f56c6c !default;


@import "common";
@import "formItem";
@import "main";
@import "media";